name: Odin SMR L0 processing CI

on: [push]

jobs:
  tests:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-groups

      - name: Ruff check
        run: uv run --no-sync ruff check .

      - name: Black check
        run: uv run --no-sync black --check .

      - name: Mypy check
        run: uv run --no-sync mypy .

      - name: Run tests
        run: uv run --no-sync pytest

  cdk-synth:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup node 22
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install aws-cdk
        run: |
          npm install -g aws-cdk

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::991049544436:role/OdinGithubRole
          aws-region: eu-north-1

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Generate lambda requirements
        run: |
          uv export --locked --only-group import-l0 --no-editable \
            -o level0/import_l0/requirements.txt

      - name: Install lambda dependencies
        run: |
          uv pip install \
            --no-installer-metadata \
            --no-compile-bytecode \
            --python-platform x86_64-manylinux2014 \
            --python 3.13 \
            --target level0/import_l0/vendor \
            -r level0/import_l0/requirements.txt

      - name: sync python cdk dependencies
        run: uv sync --locked --no-dev

      - name: cdk synth
        run: uv run --no-sync cdk synth
